@import "import/reset";
@import "import/variables";
@import "import/buttons";
@import "import/forms";
@import "import/lists";
@import "import/tables";
@import "import/mixin";



body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;
  min-width: 302px;
  transition: $base-transition;
  color: $base-font-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;
  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;


  @extend .clearfix;
}


header {
    background-image: url( ../img/big_fish.jpg);
  background-position:   right top;
  background-repeat: no-repeat;
background-size: cover;
  .row {

  }

  .header--logo {
    display: block;
    max-width: 334px;
    width: 20%;
    float: left;
    padding-left: 28px;

    img {
      max-width: 100%;
    }
  }
}
nav {
  float: left;
    padding-top: 26px;
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-right: 76px;
      a{
        font-size: 16px;
        font-weight: bold;
        color: #1e2d41;
        &:hover,&.active{
          color: #3876e1;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
padding-top: 120px;
padding-bottom: 120px;
  position: relative;
  .row{
      padding-left: 176px;
  }
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;
}

.row{
  max-width: 1920px;
  margin: auto;
  position: relative;
}
.tabs{
  position: relative;
  max-width: 70%;
  margin: auto;
  margin-top: 24px;
}
.tabs__content {
opacity: 0;
height: 0;
overflow: hidden;
}
.tabs__content.active {
opacity: 1;
height: auto;
overflow: visible;
}


.top_h{
  float: left;
  border-bottom: 1px solid #dbe3ea;
  width: 80%;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 30px;
}
.top_h_adress{
  color: #1e2d41;
}
.top_h_tel{
  font-size: 20px;
  font-weight: bold;
  color: #1e2d41;
}
.lang{
float: right;


  a{
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    color: #1e2d41;
    display: block;
    padding-top: 10px;
    &:hover,&.active{
      background: #c2d6e8;
      color: #fff;
    }
  }
}
.user{
  width: 24px;
  height: 24px;
  background-image: url(../img/user.png);
  float: right;
  &:hover{
    opacity: 0.8
  }
}
.cart{
  width: 40px;
  height: 24px;
  background-image: url(../img/cart.png);
  background-position: center left;
  float: right;
  background-repeat: no-repeat;
  i{
    border-radius:50%;
    width: 25px;
    height: 25px;
    float: right;
    background: #3876e1;
    color: #fff;
    font-size: 11px;
    padding-top: 6px;
    text-align: center;
    margin-top: -10px;
  }
}
.search{
  float: right;
  position: relative;
  margin-right: 70px;
  .search_inp{
  border:none;
  box-shadow:none;
  text-align: left;
  text-align: right;
  background: none;
}
.search_b{
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  background: none;
  background-image: url(../img/search.png);
  background-size:  contain;
  border-radius:0;
  right: -30px;
  top: 0;
  padding: 0;
  &:hover{
    background: none;
    background-image: url(../img/search.png);
    opacity:  0.8;
  }

}

}


.title_big{
  font-size: 178px;
  font-weight: bold;
  text-transform: uppercase;

}

.left_caps{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 66px;
  width: 11px;
  height: 212px;
  li{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a{
    width: 11px;
    height: 15px;
    display: block;
    background-image: url(  ../img/cap.png);
    background-repeat: no-repeat;
    &:hover,&.active{
       background-image: url(  ../img/cap_h.png);
    }
  }
}



.top{
  background-image: url(  ../img/sea_s_big.png);
background-position:  left bottom 54px;
background-repeat: no-repeat;
padding-top: 170px;
.row{

}
}
.top_left{
    float: left;
    width: 40%;
    padding-left: 116px;
    padding-right: 80px;
  p{
    float: right;
    width: 60%;
  }
}
.top_right{
  float: left;
  width: 60%;
}

.top_left_title{
  font-size: 35px;
  color: #3876e1;
  font-weight: bold;
      float: right;
    width: 60%;
    margin-bottom: 20px;
}

.title{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 38px;
  background-image: url(  ../img/sea_s.png);
  background-position:  bottom left;
  background-repeat: no-repeat;
}

.slick-slide{
    background:#fff;
  text-align: center;

margin: 15px;
-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
&:hover{
  opacity: 0.8;
}
a{
  padding-bottom: 30px;
  display: block;
  width: 100%;
  height: 100%;
}
}
.slider_title{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;


}

.slider_price{
  color: #3089cb;
  font-size: 18px;
  padding-top: 10px;

  span{
    color: #000 ;
    font-size: 14px;
    padding-top: 10px;
  }
}
.slider_img{
  height: 320px;
  text-align: center;
  padding: 20px;

    position: relative;
  img{
    margin: 0;
    width: 90%;
    top: 0;
    bottom: 0;
    margin: auto;
     left: 50%; transform: translate(-50%,0); position: absolute; z-index: 1;
  }
}

.slider{
.slick-dots{
  text-align: left;
 li{
  button{
    background: none;
    border-radius:0;
    padding: 0;
   &:before{
      width: 11px;
      height: 15px;
      background: none;
      background-image: url(../img/cap.png);
      opacity: 1;
      background-repeat:  no-repeat;
      color: #1e2d41 ;
  }
  }
  &.slick-active,&:hover{
    button{
      &:before{
        background-image: url(../img/cap_h.png);
        opacity: 1;
        color:#3876e1;
      }
    }
  }
 }


}
.slick-prev, .slick-next{
    width: 32px;
  height: 50px;
  opacity: 1;
  &:hover{
    opacity: 0.8;
  }
}
.slick-prev:before, .slick-next:before{
  content:'';
  width: 32px;
  height: 50px;
  background-image: url(../img/arr_l.png);
display: block;
opacity: 1;
}
 .slick-next:before{
  background-image: url(../img/arr_r.png);
 }
}




.tabs__caption{
  float: left;
    li{
      float: left;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius:20px;
      cursor: pointer;
      &:hover,&.active{
        background:  #c2d6e8;
        color: #fff  ;
      }


    }
}

.catalog{
  .title{
    max-width: 70%;
    margin: auto;

  }
 .row{
   background-image: url(../img/flover.png);
  background-position:  bottom 94px right 10px;
   background-repeat: no-repeat;
}
}
.catalog_wrap{
  max-width: 1920px;
  margin: auto;

    background-image: url(../img/limon.png);
  background-position:  center left;
  background-repeat: no-repeat;
}

.sport_wrap{
     background-image: url(../img/popl.png);
    background-position:  top left;
    background-repeat: no-repeat;
      max-width: 1920px;
  margin: auto;
}
.sport{
  background: #f7fafe;
  .row{
      background-image: url(../img/fisher_ship.png);
      background-position:  right center;
      background-repeat: no-repeat;
  }
}
.sport_map{
  width: 666px;
  height: 666px;
  border-radius:50%;
  background: #e2ebf7;
  background-image: url(../img/map.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 86%;
  position: relative;
float: left;

}
.map_item{
  width: 34px;
  height: 34px;
  color: #fff;
  font-size: 18px;
  text-align: center;
    padding-top: 6px;
  border-radius:50%;
  font-weight: bold;
  position: absolute;
  background: #3876e1;
  -webkit-box-shadow: 0px 0px 1px 12px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 1px 12px rgba(0,0,0,0.1);
box-shadow: 0px 0px 1px 12px rgba(0,0,0,0.1);
border:1px solid #3876e1;
&:hover{
  color: #3876e1;
  background: #fff;
-webkit-box-shadow: 0px 0px 12px 12px rgba(146,207,250,0.5);
-moz-box-shadow: 0px 0px 12px 12px rgba(146,207,250,0.5);
box-shadow: 0px 0px 12px 12px rgba(146,207,250,0.5);
border:1px solid #7fc6f9;
}
}


.map_name{
  position: absolute;
    color: #00a0e3;
    font-size: 25px;
    text-transform: uppercase;
    bottom: 27%;
    left: 20%;
  img{
    float: left;
    margin-right: 10px;
  }
}



.sport_items {
    float: left;
    margin-top: 130px;
    margin-left: 20px;


ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
   }
   li{
    padding-left: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
    p{
      font-size: 15px;
    }
    a{
      color: #3876e1;
      font-size: 14px;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
   }
   li:before {
    content: counter(item) ''; /* Добавляем к числам скобку */
    counter-increment: item; /* Задаём имя счетчика */
    display: block;
    width: 34px;
    height: 34px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
    border-radius:50%;
    font-weight: bold;
    position: absolute;
    background: #3876e1;
    -webkit-box-shadow: 0px 0px 1px 12px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 1px 12px rgba(255,255,255,1);
    box-shadow: 0px 0px 1px 12px rgba(255,255,255,1);
    border:1px solid #3876e1;
    left: 0;
   }
  }
.sport_items_title{
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.partner_wrap{
    max-width: 1920px;
  margin: auto;
        background-image: url(../img/partner_l.png);
      background-position:  left center;
      background-repeat: no-repeat;
      background-size: contain;
}

.partner{
  padding-top: 0;
  padding-bottom: 0;
  .title {
    max-width: 70%;
    margin: auto;
}
  .row{
           background-image: url(../img/partner_r.png);
      background-position:  right center;
      background-repeat: no-repeat;
      padding-top: 120px;
      padding-bottom: 120px;
      background-size: contain;
  }
}
.partner_items{
display: inline-block;
  text-align: center;
  width: 100%;
margin-top: 190px;
margin-bottom: 190px;
}
.partner_item{
   display: inline-block;
   margin: 1%;
}


.about{
  background: #f7fafe;
  padding: 0;
 .row{
        background-image: url(../img/sea_s_big.png);
    background-position: left bottom 54px;
    background-repeat: no-repeat;
    padding-top: 230px;
    padding-bottom: 230px;
 }
}
.about_wrap{
      background-image: url(../img/sea_m.png);
    background-position: left 340px center ;
    background-repeat: no-repeat;
        max-width: 1920px;
  margin: auto;
}
.about_wrap_dop{
          background-image: url(../img/kompas.png);
    background-position: right bottom 50px;
    background-repeat: no-repeat;
}
.about_content{
  width: 50%;
  float: right;
p{
  line-height: 26px;
  margin-bottom: 10px;
}
}

.rev{
  .title{
    max-width: 70%;
    margin: auto;
  }
}
.slider_rev{
  width: 100%;
  max-width: 70%;
  margin: auto;

  .slider_img{
    width: 175px;
    height: 175px;
    border-radius:50%;
    float: left;
      img{
        width: 100%;
        height: 100%;
      }
  }
  .slider_txt{
    float: left;
    width: 256px;
    height: 214px;
    background-image: url(../img/rev_c.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 24px;
    padding-right: 34px;
      padding-top: 36px;
margin-right: 26px;
  }
.slick-slide{
  padding: 26px;
  padding-top: 48px;
}
}
.slider_rev_title{
  color: #3876e1;
  font-size: 15px;
  text-transform: uppercase;


}
.slider_rev_price{
  color: #b3b6b9;
}
.slider_rev_content{
  text-align: left;
  line-height: 20px;
}


@import "fonts/font_roboto";
@import "import/base64";
@import "import/print";
